commands.txt

Frontend/my-app/node_modules/
Frontend/my-app/.next/
Frontend/my-app/out/
Frontend/my-app/.env*.local
Frontend/my-app/npm-debug.log*
Frontend/my-app/yarn-debug.log*
Frontend/my-app/yarn-error.log*
Frontend/my-app/coverage/

.idea/
*.iml
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.swp


.DS_Store
Thumbs.db